<li><a href="index.html" class="block font-medium hover:underline">Home</a></li>
<li><a href="calculator.html" class="block hover:underline">Calculator</a></li>
<li>
    <span class="block font-medium mt-2">Data Convert</span>
    <ul class="pl-4 mt-1 space-y-1">
        <li><a href="base.html" class="block hover:underline">Base</a></li>
        <li><a href="unit.html" class="block hover:underline">Unit</a></li>
        <li><a href="color.html" class="block hover:underline">Color</a></li>
        <li><a href="encode-decode.html" class="block hover:underline">Encode Decode</a></li>
    </ul>
</li>
<li><a href="text.html" class="block hover:underline">Text</a></li>